@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
=======
.homecard-boxshadow {
  box-shadow: 10px 10px 5px 0px rgba(44, 65, 255, 0.24);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(44, 65, 255, 0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(44, 65, 255, 0.24);
}
.selectorcard-boxshadow {
  /* box-shadow: 5px 5px 4px 0px rgba(44, 65, 255, 0.5); */
  box-shadow: 0px 10px 5px 0px rgba(44, 65, 255, 0.5);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(44, 65, 255, 0.5);
  -moz-box-shadow: 0px 10px 5px 0px rgba(44, 65, 255, 0.5);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.swiper-slide,
.swiper-slide {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
}

/* Esto es para alinear los botones */
.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Estilos de los botones  */
.swiper-pagination-bullet {
  display: none;
}

/* Estilos de los botones al estar activos */
.swiper-pagination-bullet-active {
  display: none;
}
/* @media (min-width: 768px) {
  Esto es para alinear los botones
  .swiper-pagination-bullet {
    display: block;
    border: 1px solid #2c41ff;
    cursor: pointer;
    padding: 5px 40px;
    border-radius: 50px;
    font-size: none;
  }
  .swiper-pagination-bullet-active {
    Estilos de los botones al estar activos
    display: block;
    background-color: #2c41ff;
  }
} */

@media (min-width: 600px) {
  .carousel {
    width: 90%;
    padding: 0px 5%;
  }
}
